# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ===================================== #
# JetBrains Rider #
# ===================================== #
*.iml
.idea/


# ===================================== #
# UFPS Plugins #
# ===================================== #
Assets/UFPS/
Assets/UFPS.meta


# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs.meta
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
Assets/Plugins/Editor/JetBrains.meta


